fastapi
uvicorn[standard]
langchain
langchain-groq
langchain-community
langchain-core
langchain-huggingface
sentence-transformers
faiss-cpu
python-dotenv
pydantic
pydantic-settings
numpy
requests
rich
tavily-python
edge-tts
